<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Get with IT</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css">
    </head>
</html>
 <body class="main">
  
  <div>
    <header class="uk-flex uk-flex-between uk-background-muted uk-padding uk-panel">
      <h1 class="uk-heading-bullet uk-text-bold">
        <a href="/" class="nav">Get with IT</a>
      </h1>
      <button class="uk-button uk-button-text uk-button-large uk-text-primary" type="button"><span uk-icon="icon: menu; ratio:3"></span></button>
      <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav"></ul>
        {{#if loggedIn}}
        <li class="uk-active"><a href="/dashboard" class="uk-button uk-button-link">dashboard</a></li>
        <li class="uk-active "><button id="logout" class="uk-button uk-button-link">logout</button></li>
        {{else}}
        <li class="uk-active"><a href="/login" class="nav">login</a></li>
        {{/if}}
        </ul>
      </div>
    </header>
    <main >
      {{{ body }}}
    </main>
    <footer >
      <h6 class="foot-text uk-text-meta">Tech Blog</h4>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
</body>