<section>
  <form class="new-post-form">
       <fieldset class="uk-fieldset">
<legend class="uk-legend uk-text-primary">New Post</legend>
    <div class="uk-margin">
      
      <input class="uk-input" type="text" id="post-title" name="post-title" placeholder="Article Title"/>
    </div>
    <div class="uk-margin">
      
      <input class="uk-input" id="post-url" name="post-url" placeholder="Link!"/>
    </div>
    <button type="submit" class="btn uk-button uk-button-secondary">Post</button>
    </fieldset>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>