{{> post-info post}}
{{#if loggedIn}}
<form class="comment-form uk-align-center">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="uk-button-secondary" type="submit">Add a Comment</button>
  </div>
</form>
{{/if}}
<!-- partial -->
{{> comments post.comments}}

{{#if loggedIn}}
<script  src='/javascript/comment.js'></script>
{{/if}}